{
  "extends": ["airbnb", "prettier", "prettier/react"],
  "rules": {
    "import/no-extraneous-dependencies": "off",
    "react/prop-types": 0,
    "consistent-return": "off",
    "no-unused-expressions": "warn",
    "no-unused-vars": "warn",
    "no-console": "warn",
    "react-hooks/rules-of-hooks": 2,
    "react-hooks/exhaustive-deps": 1,
    "prettier/prettier": ["error"]
  },
  "plugins": ["prettier", "react", "react-hooks"],
  "env": {
    "browser": true,
    "jest": true
  }
}
